@charset "ISO-8859-1";
<head>
<style>
body {
    background-color: linen;   
}
#container1{   /* container for  first row boxes */
	 width: 800px;
	 height:150px;
}
#first{
    position:absolute;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    left:20px;
    top: 50px;
    color:FloralWhite;
    background-color: RoyalBlue;
    text-align:center;  
    font-weight: normal;
    margin-top: 10px;  
}
#second{
	position: absolute;
	float: left;
	width: 100px;
	height:100px;
    margin:25px;
    top: 30px;
    left:170px;
    color:Black;
    background-color: Yellow;
    border: 1px solid black;
    text-align:left; 
    font-weight: 900; 
    display: flex;
    justify-content: flex-start; /*aligns the flex at the beginning of the container*/ 
    align-items: center; /*  Align text to middel of a div */
    margin-left: 10px;
    line-height:40px; 
}
#third{
    position: absolute;
    float: left;
	height: 100px;
	width: 100px;
	margin: 15px;
	top: 40px;
	left:330px;
    color:white;
    background-color: green;
    border: 1px solid black;
    font-weight: lighter;
    display: flex;
    justify-content: center; /*Items are positioned at the center of the container*/
    align-items: flex-end; /* Align text to the bottom of a div  */
    line-height: 20px; 
    font-size: 10px;
   
}


#animating {
    float: left;
    width: 99px;
    height:99px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
	left:550px; 
	top:50px;
	text-align: center;
    background-color: white;
    position: absolute;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

/* Standard syntax */
@keyframes example {
    0%   {right:0px; top:0px;}
    25%  {right:100px; top:0px;}
    50%  {right:100px; top:100px;}
    75%  {right:0px; top:100px;}
    100% {right:0px; top:0px;}
}

#forth{
	position: absolute;
	float: right;
	height: 100px;  
	width: 300px;
    color:red;
    background-color: grey;
    border: 1px solid red;
    text-align:left; 
    top:200px;
	left: 250px;
}
#draging{
	position: absolute;
	width: 100px;
    height:100px;
    margin: 5px;
	left: 70px; 
	top:200px;
	text-align: center;
	border: 1px solid black;
}

#drop_box1 {
	position: absolute;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    top:330px;
	left:150px;
}
#drop_box2 {
	position: absolute;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    top:330px;
	left:550px;
}


</style>
</head>